################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinForms_Desafio_Desenvolvimento/v16
/WinForms_Desafio_Desenvolvimento/obj/Debug
